<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whuahua.smart.fruit.dao.FruitOrderDAO" >
  <resultMap id="BaseResultMap" type="com.whuahua.smart.fruit.po.FruitOrderPO" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="fruit_user_id" property="fruitUserId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="BIGINT" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="total_num" property="totalNum" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id,fruit_user_id,order_num,total_price,order_state,total_num,create_time,update_time
  </sql>
  <select id="queryAll" resultMap="BaseResultMap">
  select 
  order_id,fruit_user_id,order_num,total_price,order_state,total_num,create_time,update_time
  from fruit_order
  </select>
  <insert id="insert" parameterType="com.whuahua.smart.fruit.po.FruitOrderPO">
  insert into fruit_order(fruit_user_id,order_num,total_price,order_state,total_num,create_time,update_time)
  values(#{fruitUserId,jdbcType=BIGINT},#{orderNum,jdbcType=VARCHAR},#{totalPrice,jdbcType=BIGINT},
  #{orderState,jdbcType=VARCHAR},#{totalNum,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <delete id="delete" parameterType="com.whuahua.smart.fruit.po.FruitOrderPO">
  delete from fruit_order where order_num=#{orderNum,jdbcType=VARCHAR}
  </delete>
  <select id="selectById" parameterType="com.whuahua.smart.fruit.po.FruitOrderPO">
    select order_id,fruit_user_id,order_num,total_price,order_state,total_num,create_time,update_time
           from fruit_order where order_id=#{order_id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserIdAndOrderState" resultMap="BaseResultMap" parameterType="com.whuahua.smart.fruit.po.FruitOrderPO">
    select order_id,fruit_user_id,order_num,total_price,order_state,total_num,create_time,update_time
           from fruit_order where fruit_user_id=#{fruitUserId,jdbcType=BIGINT} and order_state=#{orderState,jdbcType=VARCHAR}
  </select>
</mapper>