<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whuahua.smart.fruit.dao.FruitUserDAO" >
  <resultMap id="BaseResultMap" type="com.whuahua.smart.fruit.po.FruitUserPO" >
    <id column="fruit_user_id" property="fruitUserId" jdbcType="BIGINT" />
    <result column="fruit_tel_num" property="fruitTelNum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fruit_user_id,fruit_tel_num,password,open_id,role,name
  </sql>
  <insert id="insert" parameterType="com.whuahua.smart.fruit.po.FruitUserPO">
    insert into fruit_user (fruit_tel_num,password,open_id,role,name) values(#{fruitTelNum,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{openId,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.whuahua.smart.fruit.po.FruitUserPO">
  update fruit_user set password=#{password,jdbcType=VARCHAR}
                    where fruit_tel_num=#{fruitTelNum,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="com.whuahua.smart.fruit.po.FruitUserPO" resultMap="BaseResultMap">
  select  fruit_user_id,fruit_tel_num,password,open_id,role,name from fruit_user where fruit_tel_num=#{fruitTelNum,jdbcType=VARCHAR}
  </select>
</mapper>